<footer class="footer border-top">
    <div class="f-info">

     <div class="f-social-info">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
     </div>
    <div class="f-brand-name"> &copy; 2025 WanderLust Private Limited</div>
    <div class="f-links">
          <a href="/privacy"> Privacy</a>
         <a href="/terms"> Terms</a>
    </div>
    </div>
</footer>